@import "../../scss/common";

.dropdown {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    padding: 5px 10px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    white-space: nowrap;

    &:focus {
        border: 1px solid #51a7ca;
    }

    &__title {
        display: inline-block;
        padding-right: 5px;
        vertical-align: middle;
    }

    &__label {
        display: inline-block;
        cursor: pointer;
        max-width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-bottom: 1px dotted #333333;
        vertical-align: middle;

        &::after {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 8px solid #000000;
            border-bottom: 0px solid transparent;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            margin-left: 3px;
        }

        &_state_open {
            &::after {
                border-top: 0px solid transparent;
                border-bottom: 8px solid #000000;
            }
        }
    }

    &__list {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #ffffff;
        z-index: 3000;
        border: 1px solid #f1f1f1;
        box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.25);
        display: flex;
        padding: 10px;
    }

    &__item {
        cursor: pointer;
        padding: 5px 15px;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-radius: 4px;
        border: 1px solid transparent;

        &:hover {
            background-color: #f5f5f5;
        }

        &:focus {
            border: 1px solid #51a7ca;
        }

        &_state_current,
        &_state_current:hover {
            background: #51a7ca;
        }
    }
}
