@import "../../scss/common";

.races-chart {

    &__description {
        width: 100%;

        @media #{$media-desktop} {
            width: 30%;
            position: absolute;
        }
    }

    &__label-text {
        text-transform: uppercase;
        font-family: var(--font-family-thin-italic);
        font-size: 14px;
    }

    &__node,
    &__link,
    &__node-label {
        cursor: pointer;
    }
}
