@import "../../scss/common";

.filter {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;

    @media #{$media-desktop} {
        flex-direction: row;
    }

    &__item {
        justify-content: flex-start;
        margin-right: 20px;        
        margin-bottom: 10px;
    }
}