@import "../../scss/common";

.filter {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;

    @media #{$media-desktop} {
        flex-direction: row;
    }

    &__item {
        justify-content: flex-start;
        margin-right: 20px;
        padding: 5px 10px;
        border: 1px solid #eeeeee;
        border-radius: 4px;
        margin-bottom: 10px;
    }
}