$media-desktop: 'screen and (min-width: 1000px)';

body {
    font-family: RobotoLight;
}
text {
    font-size: 12px;    
}

rect.node,
path.link,
text.node-label {
    cursor: pointer;
}

.no-pointer-events {
    pointer-events: none;
}

.label {
    text-transform: uppercase;
    font-family: RobotoBold;
    font-size: 14px;
}

.header {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    @media #{$media-desktop} {
        flex-direction: row;
    }

    &__item {
        &:first-child {
            padding-right: 50px;
        }
    }

    &__title {
        padding: 0;
        margin: 0;
        font-size: 50px;
        white-space: nowrap;
        font-family: RobotoBold;
        font-weight: normal;
    }

    &__subtitle {
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: normal;
        white-space: nowrap;
    }
}

.text {
    font-size: 16px;
    line-height: 26px;
    font-family: RobotoLight;
}

.layout__description {
    width: 100%;

    @media #{$media-desktop} {
        width: 30%;
        position: absolute;
    }
}

h2 {
    padding: 0;
    margin: 0;
    font-size: 30px;
    white-space: nowrap;
    font-family: RobotoBold;
    font-weight: normal;
}

h3 {
    padding: 0;
    margin: 0;
    font-size: 18px;
    white-space: nowrap;
    font-family: RobotoBold;
    font-weight: normal;
}

.axis path {
    stroke: #cccccc;
}

.year-tick {
    font-family: RobotoBold;
    font-size: 16px;
    fill: #999999;
}

.bubble__radius-label,
.bubble__color-label {
    font-size: 10px;
}

.bubble__pilot {
    cursor: pointer;
}

.bubble__tooltip {
    position: absolute;
    width: 200px;
    background: #ffffff;
    padding: 10px;
    border: 1px solid #dddddd;
    border-left: 5px solid #ffea00;
}